@page
@model CalorieCounter.Pages.Foods.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container pt-4 pb-2 row">
    <div class="col-lg-6">
        <h2 class="text-info py-2">Food Details</h2>
    </div>
    <div class="col-lg-3 offset-3 text-right py-2">
        <a asp-page="/Foods/History" asp-route-foodId="@Model.foodHeader.DailyFoodId" class="btn btn-outline-success form-control"> Back to List</a>
    </div>
</div>

<div class="container backgroundWhite">
    <div class="card">
        <div class="card-header bg-dark text-light ml-0 row container">
            <div class="col-lg-1 text-center pt-3 text-white-50 ">
                <i class="far fa-user fa-2x"></i>
            </div>
            <div class="col-lg-5">
                <label class="text-info">@Model.foodHeader.DailyFood.ApplicationUser.Name / @Model.foodHeader.DailyFood.ApplicationUser.Email</label><br />
                <label class="text-info">Weight: @Model.foodHeader.DailyFood.ApplicationUser.Weight</label><br />
            </div>
            <div class="col-lg-5 text-right">
                <label class="text-info">Min kcal: @Model.foodHeader.DailyFood.MinCalories Max kcal: @Model.foodHeader.DailyFood.MaxCalories</label><br />
            </div>
            <div class="col-lg-1 text-center pt-3 text-white-50 ">
                <i class="icon-food fa-2x"></i>
            </div>
        </div>
        <div class="card-body">
            <div class="row pt-3">

                <div class="col-lg-7">
                    <table class="table table-striped border">
                        <tr class="table-secondary">
                            <th>
                                @Html.DisplayNameFor(m => Model.foodDetails[0].FoodName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(m => Model.foodDetails[0].FoodCalories)
                            </th>

                        </tr>
                        @foreach (var item in Model.foodDetails)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.FoodName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.FoodCalories)
                                </td>

                            </tr>
                        }
                        <tr style="background-color:#e2fee2">
                            <td colspan="1">
                                <h6 class="text-success">Total Calories :</h6>
                            </td>
                            <td colspan="2">
                                <h6 class="text-success">kcal @Model.foodHeader.TotalCalories</h6>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="col-lg-5 px-4 pb-2">
                    <div class="row py-2">
                        <div class="col-lg-12">
                            <textarea placeholder="Comments..." readonly asp-for="foodHeader.Details" class="form-control" style="height:100px">

                                        </textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


